.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-grey {
  color: #888;
}

.text-bold {
  font-weight: bolder !important;
}

.text-primary {
  color: $primary-color;
}

.text-dark {
  color: $dark-color;
}

.text-light {
  color: $light-color;
}

.text-danger {
  color: $danger-color;
}

.text-success {
  color: $success-color;
}
